@media only screen and (max-width: 400px) {
  html{
    font-size: 58%;
  }
  body{
    height: 60vh;
  }
  h1{
    line-height: initial;
  }
  .container{
    max-width: calc(var(--width) - 10%);
  }
  .box input{
    padding: .4rem .9rem;
    font-size: .7rem;
  }
  .submit_ button{
    padding: 0.4rem 0.9rem;
  }
  .box label {
    font-size: 1rem;
    margin-bottom: 0.1rem;
}
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}