body{
  background-color: #111827;
  color: white;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:
  center;
  overflow-x: hidden;
}
:root{
  --width:100%;
}
html{
  font-size: 62.5%;
}
h1{
  font-size: 1.5rem;
  margin-bottom: .4rem;
  padding-top: 1rem;
  line-height: 38px;
  letter-spacing: 2px;
}
h2{
  text-align: center;
  margin-top: 3rem;
}
.info span{
  color: #b3f1b3;
  font-weight: normal;
  font-size: 1.2rem;
}
.container{
  max-width: calc(var(--width) - 30%);
  margin: auto;
}
.box{
  background-color: #111827;
  overflow: hidden;
  padding: 2rem 4rem;
  height: fit-content;
  border: .2rem solid #0d81b973;
  border-radius: .8rem;
}
.box div{
  width:100%;
}
.box label{
  width:100%;
  display: block;
  font-size: 1.1rem;
  margin-bottom: .3rem;
  padding: 0 .8rem;
}
.box label span{
  color: red;
  margin-top: 0rem;
  font-size: 1.3rem;
}
.box input{
  padding: .9rem .9rem;
  margin-bottom: .4rem;
  border-top-right-radius: .9rem;
  border-bottom-left-radius: .9rem;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s background linear;
  -webkit-transition: 0.3s background linear;
  -moz-transition: 0.3s background linear;
  -ms-transition: 0.3s background linear;
  -o-transition: 0.3s background linear;
}
.addFocused{
  background: rgb(0 0 0);
  border: .2rem solid #0f4768;
  color: white;
}
.addFocused::placeholder{
  color: white;
  text-transform: capitalize;
}
.submit_{
  width: 82%; 
}
.submit_ button{
  width: 100%;
  padding: .9rem .9rem;
  border-top-right-radius: .9rem;
  border-bottom-left-radius: .9rem;
  font-size: 1.1rem;
  cursor: pointer;
  background: #84e7e7;
  margin-top: .9rem;
  transition: 0.6s background linear;
  -webkit-transition: 0.6s background linear;
  -moz-transition: 0.6s background linear;
  -ms-transition: 0.6s background linear;
  -o-transition: 0.6s background linear;
}
.submit_ button:hover{
  background: transparent;
  color: #fff;
  border: .1rem solid white;
}
.result_box{
  background-color: #005574;
  border-radius: .9rem;
  margin-top: 2rem;
  position: relative;
}
.result_content{
  display:
  flex;
  flex-direction: column;
  padding: 1.3rem 0;
}
.result_content div{
  display:
  flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.result_content div span{
  color: #e9e8e9;
  font-weight: 400;
  display: inline-block;
  margin-bottom: .7rem;
}
.material-symbols-outlined{
  position: absolute;
  right: 1.3rem;
  font-size: 1.4rem;
  top: 0.8rem;
  cursor: pointer;
  color: #4febf3;
  font-weight: normal;
}

@media (max-width:476px){
  html{
    font-size: 58%;
  }
  h1{
    line-height: initial;
  }
  .container{
    max-width: calc(var(--width) - 10%);
  }
  .box input{
    padding: .4rem .9rem;
    font-size: .7rem;
  }
  .submit_ button{
    padding: 0.4rem 0.9rem;
  }
  .box label {
;
    font-size: 1rem;
    margin-bottom: 0.1rem;
}
}